node_modules

out
dist
build

.env
.env.local

.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.next
.vercel
next-env.d.ts

styled-system
styled-system-studio

packages/icons/react/src
packages/icons/svelte/src
packages/icons/solid/src

.turbo