@import 'tailwindcss';

@plugin 'ui-ingredients-plugin-tailwindcss';

@layer base {
  [hidden] {
    display: none !important;
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-heading: 'Rammetto One', sans-serif;

  --spacing-4\.5: 1.125rem;
  --spacing-5\.5: 1.375rem;

  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-auto: auto;
  --z-base: 0;
  --z-docked: 10;
  --z-dropdown: 1000;
  --z-sticky: 1100;
  --z-banner: 1200;
  --z-overlay: 1300;
  --z-modal: 1400;
  --z-popover: 1500;
  --z-skipLink: 1600;
  --z-toast: 1700;
  --z-tooltip: 1800;

  --animate-fade-in: fade-in 250ms ease-in-out;
  --animate-fade-out: fade-out 150ms ease-in-out;
  --animate-slide-up: slide-up 250ms ease-in-out;
  --animate-slide-down: slide-down 150ms ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant icon (& svg);

@utility z-* {
  z-index: --value(--z- *);
}
