@tailwind base;

@layer base {
  *,
  *::after,
  *::before {
    @apply border-gray-true-200 dark:border-gray-true-800;
  }

  input,
  select,
  textarea {
    @apply bg-white placeholder:!text-gray-true-400 placeholder:dark:!text-gray-true-500 dark:bg-gray-true-900;
  }

  html {
    color-scheme: light;

    @apply scroll-smooth;
  }

  body {
    @apply font-sans bg-white text-gray-true-700 min-h-dvh dark:text-gray-true-400 dark:bg-gray-true-900;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}

@tailwind components;
@tailwind utilities;

.untitled-icon [stroke-width] {
  stroke-width: 1.5;
}
