{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["twMerge", "twJoin"]
}
